* {
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Create two equal columns that floats next to each other */
.two-column {
  float: left;
  width: 50%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.three-column {
  float: left;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  width: 100%;
}
.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 36px
  }
  h2 {
    font-size: 21px
  }
  h3 {
    font-size: 12px;
  }
  .two-column {
    width: 100%;
  }
  .three-column {
    width: 100%;
  }
  .ph-100 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .modal-content {
    width: 90% !important;
  }
}