* {
	margin: 0px;
	padding: 0px;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
section {
	width: 100%;
}
button {
  color: #ffffff;
  border-color: #ffffff;
	cursor: pointer;
  border: 2px solid #fff;
  background: transparent;
  font-size: 16px;
  padding: 15px 30px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 3px 2px 2px gray;
}
h1, h2, h3, button {
	font-family: 'Libre Baskerville', serif;
}
h1 {
	font-size: 57pt;
	text-transform: uppercase;
}
h2 {
	font-size: 27pt;
	font-style: italic;
}
h3 {
	font-size: 13pt;
	line-height: 1.5em;
}
hr {
	
  border: 0; 
  border-top: 3px solid #ccc;
  margin: auto;
  padding: 0;
  margin-top: 4px;
}
.bg-color0: {
	background-color: #FFF;
}
.bg-color1 {
	background-color: #2F0459;
}
.bg-color2 {
	background-color: #7F25D9;	
}
.bg-color3 {
	background-color: #F2E205;
}
.bg-color4 {
	background-color: #5C12A6;
}
.text-color0 {
	color: #FFF;
}
.text-color1 {
	color: #2F0459;
}
.text-color2 {
	color: #7F25D9;
}
.text-color3 {
	color: #F2E205;
}
.text-color4 {
	color: #5C12A6;
}
.border-color0 {
	border-color: #FFF;
}
.border-color1 {
	border-color: #2F0459;
}
.border-color2 {
	border-color: #7F25D9;
}
.border-color3 {
	border-color: #F2E205;
}
.border-color4 {
	border-color: #5C12A6;
}
.pb-10 {
	padding-bottom: 10px;
}
.ph-100 {
	padding-left: 100px;
	padding-right: 100px;
}
.mt-100 {
	margin-top: 100px;
}
.mt-20 {
	margin-top: 20px
}
.center {
	text-align: center;
}